@page
@model PizzaStoreManagement.Pages.OrdersDetailView.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderDetails</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetails.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetails.UnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetails.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetails.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.OrderId">Edit</a> |
    <a asp-page="./Index" asp-route-id="@Model.OrderId">Back to List</a>
</div>
