@page
@model PizzaStoreManagement.Pages.OrdersView.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">Orders List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].RequiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Frieght)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].ShipAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Orders) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frieght)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.ContactName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
